.jumbotron {
  background-color: #067a83;
  color: #ffffff;
  border-radius: 0rem;
  margin-top: 50px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; }

.container-banner {
  height: 200px;
  border: 1px solid green; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; }

.card-text {
  margin-top: 20px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; }

.btn-reserva {
  width: 100%;
  border-radius: 0; }

.items-footer,
.items-footer a {
  color: #ffffff;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px; }

.container-productos {
  padding-top: 30px;
  padding-right: 0;
  padding-bottom: 30px;
  padding-left: 0; }

.container-productos h4 {
  text-align: center; }

.container-productos p {
  text-align: justify; }

.productos-row:last-child {
  margin-top: 30px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; }

.container-info {
  flex: 1 150px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  border-left: none;
  text-align: center; }

.container-info:first-child {
  border-left: none; }

.card-img-top {
  width: 100%;
  height: 40vh;
  object-fit: cover; }

.footer {
  background-color: #067a83;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  margin-top: 30px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; }

.items-footer-sections {
  align-items: flex-start; }

.footer-address-icon {
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 0; }

@media (max-width: 576px) {
  .container-info {
    border-bottom: 1px solid #bebeae; }
  .container-info,
  .card-hotel {
    flex: 1 300px; }
  .collapse-buttons-btn {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0; } }

@media (min-width: 768px) {
  .container-info {
    border-left: 1px solid #bebeae; }
  .items-footer-sections {
    align-items: flex-end; } }

.tab-content {
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0; }

.collapse-butons {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 0; }

.container-caroulse {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 0; }
